<div class="container">
  <div class="card w-75">
    <div class="card-body">
      <h1 class="card-title">Get Patient Details</h1>
      <div>
        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
          <div class="mt-2">
            <label for="id" class="label">ID</label>
            <input
              id="id"
              type="number"
              formControlName="id"
              class="form-control"
            />
          </div>

          <div class="mt-2">
            <input type="submit" class="btn btn-primary" value="Get Details" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="mt-5">
    <h4>No such Patient in Database!!!!</h4>
  </div>
  <div *ngIf="!error">
    <div class="mt-5" *ngIf="patient">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Doctor Visited</th>
            <th scope="col">Date</th>
            <th scope="col">Prescription</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ patient.id }}</th>
            <td>{{ patient.name }}</td>
            <td>{{ patient.doctor.name }}</td>
            <td>{{ patient.dateOfAppointment | date }}</td>
            <td>{{ patient.prescription }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
