<div class="container">
  <div class="card w-75" *ngIf="!loading">
    <div class="card-body">
      <h1 class="card-title">Add Doctor Details</h1>
      <div>
        <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
          <div class="mt-2">
            <label for="name" class="label">Name</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              class="form-control"
            />
          </div>

          <div class="mt-2">
            <label for="age" class="label">Age</label>
            <input
              id="age"
              type="number"
              formControlName="age"
              class="form-control"
            />
          </div>
          <div class="mt-2 form-inline">
            <input
              id="male"
              type="radio"
              name="gender"
              value="male"
              formControlName="gender"
              class="mx-2"
            />
            <label class="label">Male</label>
            <input
              id="female"
              type="radio"
              name="gender"
              value="female"
              formControlName="gender"
              class="mx-2"
            />
            <label class="label">Female</label>
          </div>
          <div class="mt-2">
            <label for="specialization" class="label">Specialization</label>
            <input
              id="specialization"
              type="text"
              formControlName="specialization"
              class="form-control"
            />
          </div>
          <div class="mt-2">
            <input type="submit" class="btn btn-primary" value="Add" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="centering">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
